#main {
    margin-top: 120px;
    padding: 20px 30px;
    transition: all 0.3s;
}

@media (min-width: 1199px) {
    #main {
        padding: 20px 30px;
        transition: all 0.3s;
        width: 70%;
        margin: 60px auto;
    }
}