.menu {
    /*margin: auto;*/
    display: flex;
    align-items: center;
    font-size: 24px;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    /*margin-right: 30px;*/
    font-size: 28px;
}

.menu-item {
    /*margin: 30px 20px;*/
    /*padding: 0px 20px 10px 20px;*/
    font-size: 22px;
    font-weight: 600;
    color: #012970;
    font-family: 'Nunito', sans-serif;
}